# Website

VITE_SITE_URL=https://talentamulia.co.id

# Google

VITE_GA_ID=

# Google Maps

VITE_GOOGLE_MAPS_KEY=

# API

VITE_API_URL=https://cms.talentamulia.co.id

# WhatsApp

VITE_WHATSAPP=6282132990498
